h1, h2, h3, h4, h5, h6
{
	font-family: 'Amatic SC', cursive;
}

#bio, #edu, #map, #others, #footer, #exp
{
	font-family: 'Amatic SC', cursive;
	font-size: x-large;
}

#main
{
	margin-top: 5%;
	display: none;
}

#bio, #edu, #others, #footer, #exp
{
	margin-top: 10%;
}

#profilePicture
{
	height: 400px;
	width: 400px;
}

.schoolLogo
{
	height: 100px;
	width: 200px;
}

#popupIcon
{
	height: 80px;
	width: 150px;
}

#others ul, #mobile ul
{
	list-style-type: none;
}

#map
{
	width: 700px; 
	height: 400px;
}

#loading
{
	margin-top: 25%;
}